<form [formGroup]="userForm" novalidate (ngSubmit)="createUser(userForm.value)">
  <mat-card-content>
    <mat-form-field>
        <input matInput type="text" placeholder="{{'user-grid.id' | translate}}" formControlName="id" id="id">
      </mat-form-field>
       
      <mat-form-field>
        <input matInput type="text" placeholder="{{'user-grid.name' | translate}}" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="{{'user-grid.address' | translate}}" formControlName="address">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="text" placeholder="{{'user-grid.contact' | translate}}" formControlName="contact">
      </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <div class="row">
      <div class="pr-4 pl-3">
        <button mat-raised-button color="primary" [disabled]="!userForm.valid">{{ (isEdituser ? 'user-grid.edit-user' : 'user-grid.add-user') | translate}}</button>
      </div>
      <div>
        <button type="button" mat-raised-button class="pl-4" color="warn" (click)="onCancel()">{{'user-grid.cancel' | translate}}</button>
      </div>
    </div>
  </mat-card-actions>
</form>